# Import the necessary libraries

In [ ]:
import pandas as pd
import os
import glob

# Dealing with files

In [ ]:
# Set the folder path
folder_path = './data/csv/'
folder_path

In [ ]:
# Get a list of all CSV files in the specified folder
csv_files = sorted(glob.glob(os.path.join(folder_path, '*.csv')))
csv_files

In [ ]:
# Create an empty list to store the DataFrames and iterate over the CSV files
df_list = []

# Iterate over the CSV files
for file in csv_files:
    df = pd.read_csv(file)
    df_list.append(df)

In [ ]:
# Concatenate all the DataFrames in the list into a single DataFrame
df = pd.concat(df_list, ignore_index=True)

# Drop duplicate rows

In [ ]:
# Count the number of duplicate ride IDs
df.duplicated(['ride_id']).sum()

In [ ]:
# Drop duplicate rows based on the 'ride_id' column, keeping the first occurrence
df.drop_duplicates(subset='ride_id', keep='first', inplace=True)

In [ ]:
# Count the number of duplicate ride IDs
df.duplicated(['ride_id']).sum()

# Converting columns to datetime

In [ ]:
# Convert the 'started_at' column to datetime format with mixed format
df['new_started_at'] = pd.to_datetime(df['started_at'], format='mixed')

In [ ]:
# Check if there are any missing values in the 'new_started_at' column
df['new_started_at'].isnull().sum()

In [ ]:
# Convert the 'ended_at' column to datetime format with mixed format
df['new_ended_at'] = pd.to_datetime(df['ended_at'], format='mixed').dt.floor('s')

In [ ]:
# Check if there are any missing values in the 'new_ended_at' column
df['new_ended_at'].isnull().sum()

# Calculate the ride length

In [ ]:
df['ride_length'] = df['new_ended_at']-df['new_started_at']
df.head()

In [ ]:
df['ride_length_sec'] = df['ride_length'].dt.total_seconds()
df

In [ ]:
# Count the number of rows where the ride length is less than 60 seconds
(df['ride_length_sec'] < 60).sum()

In [ ]:
# Filter the dataframe to only include rows where the ride length is greater than or equal to 60 seconds
df = df[df['ride_length_sec'] >= 60]
df

# Create a new column in the dataframe called 'day_of_week'

In [ ]:
df['day_of_week'] = df['new_started_at'].dt.day_name()

# Replacing columns

In [ ]:
df['started_at'] = df['new_started_at']
df['ended_at'] = df['new_ended_at']

# Dropping unused columns

In [ ]:
df.drop('new_started_at', axis=1, inplace=True)
df.drop('new_ended_at', axis=1, inplace=True)
df.drop('ride_length', axis=1, inplace=True)

# Saving to the file

In [ ]:
df.to_csv('./data/full_data.csv', index=False)